body{
    font-family: main_font_titles;
    margin: 0;
    overflow-x: hidden;
    color: white;
}

.background{
    background-repeat: no-repeat;
    background: url("../../img/background.jpg");
    padding-top: 9rem; 
}

.background-description{
    background-repeat: no-repeat;
    background: url("../../img/finger_background.jpg");
    background-position: center right;
    background-size: cover;
    padding: 2% 0 2%;
}

.background-features{
    background-color: #6F7281;
}

.background-footer{
    background-color: #000000;
}

.background-phrase{
    background-color: rgb(190, 190, 190);
    padding: 2% 0 2%;
}

.background-video{
    background-color: #eeeeeee1;
    padding: 4.5% 0 4.5%;
}

.buttn-features{
    background-color: #234463;;
    grid-area: btn-features;
    border:none;
    border-radius: 30px;
    color:#fff; 
    cursor: pointer;
    display: block;
    font-size: 2rem;
    height: 32%;
    margin: 4% auto;
    margin-bottom: 5.2%;
    width: 100%;
    outline: none;

}

.buttn-start{
    background-color: #234463;
    border:none;
    border-radius: 30px;
    color:#fff; 
    cursor: pointer;
    display: block;
    font-size: 1.7rem;
    grid-area: btn-start;
    height: 35%;
    width: 75%;
    outline: none;

}


.buttn-start-footer{
    background-color: #f50b0b;
    border:none;
    border-radius: 30px;
    grid-area: btn-start-footer;
    height: 44%;
    width: 40%;
    color: white;
    font-size: 1.7rem;
    cursor:pointer;
    outline: none;

}

.container-description{
    display: grid;
    grid-template-columns: 1fr 0.2fr;
    grid-template-rows: 0.7fr 0.5fr 1fr 0.7fr 1fr;
    grid-template-areas: 
        "title title"
        "span0 span0"
        "span1 span1"
        "title2 title2"
        "span2 span2";
    margin: 0 auto;
    max-width: 1600px;
    width: 95%;
}

.container-features{
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "head-features head-features head-features head-features"
        "icon-card text-card icon-world text-world"
        "icon-pdf text-pdf icon-video text-video"
        "icon-qr text-qr btn-features btn-features"
        "p p p p";
    margin: 0 auto;
    max-width: 1600px;
    width: 95%;

}

.container-features p{
    font-size: 2rem;
    grid-area: p;
    margin: auto;
    margin-top: -2%;
    padding: 1% 0 3%;
}

.container-footer{
    display: grid;
    grid-template-columns: 0.5fr 0.7fr 0.5fr 0.3fr 1fr;
    grid-template-rows: 0fr 0.3fr;
    grid-template-areas: 
    "icon-footer   h1-footer-1   h1-footer-2   h1-footer-3   h1-footer-3"
    "icon-footer   li-contact    li-account    icon-twitter   icon-linkedin";
    margin-left: 10%;
    max-width: 1600px;
    width: 95%;
}

.container-footer h1{
    font-size: 1.5em;
}

.container_header{
    width: 95%;
    color: #55949C;
    margin: 0 auto;
    max-width: 1600px
}

.container_header p {
    font-size: 320%;
    font-family: alternative;
    padding-left: 1%;
    margin-right: auto;
    margin-bottom: -1%;
    margin-top: 4%;
}

.container_index{
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    grid-template-rows: 1fr 0.2fr;
    grid-template-areas: 
        "first-span-paragraph form"
        "btn-start form";
    margin: 0 auto;
    max-width: 1600px;
    width: 95%;
}

.container-phrase{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.6fr 1fr;
    grid-template-areas:
        "btn-start-footer btn-start-footer"
        "sixth-span sixth-span";
    margin: 0 auto;
    max-width: 1600px;
    width: 95%;
}

.container-video{
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    grid-template-rows: 1fr 0.3fr;
    grid-template-areas: 
        "video-eccard second-span-paragraph"
        "video-eccard stars";
    margin: 0 auto;
    max-width: 1600px; 
    width: 95%;
}

.h1-footer-1{
    grid-area: h1-footer-1;
    color: white;
}

.h1-footer-2{
    grid-area: h1-footer-2;
    color: white;
}

.h1-footer-3{
    grid-area: h1-footer-3;
    color: white;
}

.icon-footer{
    grid-area: icon-footer;
    width: 65%;
    padding-top: 30%;
}

.icon-linkedin{
    grid-area: icon-linkedin;
    padding-top: 1%;
    width: 20%;
}

.icon-twitter{
    grid-area: icon-twitter;
    width: 77%;
}

.li-account{
    grid-area: li-account;
}

.li-contact{
    grid-area: li-contact;
}


.fifth-span-paragraph{
    width: 53%;
    color: white;
    font-family: main_font_medium;
    text-align: left;
    line-height: 150%;
    font-size: 1.5em;
    grid-area: span0;
}

.first-span-paragraph{
    font-size: 3.2em;
    grid-area: first-span-paragraph;
    line-height: 150%;
}

form{
    background:rgb(253, 253, 253, .8);
    width: 80%;
    padding: 10px 0;
    border-radius: 40px;
    margin-left: auto;
    grid-area: form;
    margin-bottom: 2%;
}

form p{
    color: black;
    text-align: center;
}

.form-div{
    width: 92%;
    margin: 0 auto;
}

.footer ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

    .footer ul li{
        font-family: main_font_thin;
        font-size: 1em;
        padding: 0.5rem 0;
    }

        .footer ul li a{
            text-decoration: none;
            color: white;
        }

.fourth-span-paragraph{
    color: white;
    font-family: main_font_medium;
    text-align: left;
    line-height: 150%;
    font-size: 1.5em;
    grid-area: span2;
    width: 58%;
}

h1{
    color: black;
    font-size: 2.5em;
}

.h1-description-1{
    color: white;
    font-family: main_font_titles;
    grid-area: title;
}

.h1-description-2{
    margin-top: 4%;
    color: white;
    font-family: main_font_titles;
    grid-area: title2;
}

.header{
    position: fixed;
    width: 100vw;
    background-color: rgb(0,0,0,.7);
    padding: .5rem 0;
}

    .header a{
        text-decoration: none;
        color: white !important;
    }

.head-features{
    border-bottom: 1px solid black;
    grid-area: head-features;
    font-family: 'main_font_titles';
    font-size: 4rem;
    padding: 2% 0;
}

.icon-card{
    grid-area: icon-card;
    width: 88%;
}

.icon-pdf{
    grid-area: icon-pdf;
    width: 88%;
}

.icon-qr{
    grid-area: icon-qr;
    width: 88%;
}

.icon-video{
    grid-area: icon-video;
    width: 88%;
}

.icon-world{
    padding-top: 6%;
    grid-area: icon-world;
    width: 85%;
}

.index_a_to_singIn{ 
    font-family: main_font_titles;
    font-size: 4vw;
    display: block;
    padding: 0.5rem 1rem;
}

input{
    color:#c6c6c6;
    width: 100%;
    border:none;
    resize: none;
    border-radius: 30px;
    height: 3vh;
    box-sizing: border-box;
    padding-left: 3%;
    outline: none;
}

    input:focus{
        outline: none;
    }

label{
    color: black;
    font-size: 1.2em;
}

.logo{ 
    width: 12%;
    height: 13%;
    max-width: 115px;
    max-height: 115px;
}

.logo-nav-container{
    display: flex;
    align-items: center;
}

.navegation ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

    .navegation ul li{
        display: inline-block;
    }

.second-span-paragraph{
    color: black;
    grid-area: second-span-paragraph;
    font-size: 2rem;
    line-height: 150%;
}

.section-features{
    width: 100vw; 
    height: 100%; 
    color: white;
}

.section-footer{
    width: 100vw; 
    height: 100%; 
    color: white;
}

.section-description{
    width: 100vw; 
    height: 100%; 
    color: white;
}

.section-presentation{
    width: 100vw; 
    height: 100%; 
    color: white;
}

.section-phrase{
    width: 100vw; 
    height: 100%; 
    color: white;
}

.section-video{
    width: 100vw; 
    height: 100%; 
    color: white;
}

.sixth-span{
    color: black;
    font-size: 3.5rem;
    grid-area: sixth-span;
}

.sixth-span-inside{
    color: blue;
}

.stars{
    grid-area: stars;
    width: 50%;
    padding: 2% 0 0;
}

.text-card{
    font-size: 2em;
    grid-area: text-card;
    padding-top: 2%;
}

.text-pdf{
    font-size: 2em;
    grid-area: text-pdf;
    padding-top: 2%;
}

.text-video{
    font-size: 2em;
    grid-area: text-video;
    padding-top: 5.5%;
}

.text-world{
    font-size: 2em;
    grid-area: text-world;
    padding-top: 2%;
}

.text-qr{
    font-size: 2em;
    grid-area: text-qr;
    padding-top: 5.5%;
}

.third-span-paragraph{
    color: white;
    font-family: main_font_medium;
    text-align: left;
    line-height: 150%;
    font-size: 1.5em;
    grid-area: span1;
    width: 63%;
}

.video-eccard{
    grid-area: video-eccard;
    padding-right: 10%;
}

/******************************************AQUI SE HICIERON CAMBIOS*****************************************/

/***********************************************************************************************************/

.buttn-account-new{
    background-color: #578D6F;
    border:none;
    border-radius: 30px;
    color:#fff; 
    cursor: pointer;
    display: block;
    font-size: 1.5rem;
    height: 30px;
    margin: 10px auto;
    width: 100%;
    outline: none;
}

.buttn-twitter{
    background-color: #03a9f4;
    border:none;
    border-radius: 30px;
    color:#fff; 
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    height: 7.5vh;
    max-height: 30px;
    margin: 10px auto;
    margin-bottom: 5.2%;
    margin-left: 0.3%;
    width: 49%;
    outline: none;
}

.buttn-linkedin{
    background-color: #0288d1;
    border:none;
    border-radius: 30px;
    color:#fff; 
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    height: 30px;
    margin: 10px auto;
    margin-bottom: 5.2%;
    width: 49%;
    outline: none;
}

.icon-twitter-in-button{
    margin-top: -1.2%;
    min-width: 30px;
    width: 12.1%;
}

.icon-linkedin-in-button{
    margin-top: -1.2%;
    min-width: 30px;
    width: 11.8%;
}

/***********************************************************************************************************/


@media screen and (max-width: 770px){

    .background{
        padding-top: 8rem;
    }

    
    .background-description{
        background-position: unset;
    }

    .buttn-account-new{
        font-size: unset;
    }

    .buttn-start{
        margin: 0 auto;
        margin-top: 4%;
    }

    .buttn-start-footer {
        height: 80%;
        width: 80%;
        font-size: 4vw;
        margin: 0 auto;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .buttn-features{
        font-size: 3vw;
    }

    .container-description {
        grid-template-columns: 1fr ;
        grid-template-rows: 0.3fr 0.5fr 1.2fr 0.3fr 1.4fr;
        grid-template-areas:
            "title"
            "span0"
            "span1"
            "title2"
            "span2";
    }

    .container-features{
        grid-template-columns: 0.3fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
        grid-template-areas:
            "head-features head-features"
            "icon-card text-card"
            "icon-world text-world"
            "icon-video text-video"
            "icon-pdf text-pdf"
            "icon-qr text-qr"
            "btn-features btn-features"
            "p p";
        width: 90%;
    }

    .container-features p{
        font-size: 1.5rem;
    }

    .container-footer{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
        grid-template-areas: 
            "icon-footer icon-footer"
            "h1-footer-1 h1-footer-1"
            "first-ul first-ul"
            "h1-footer-2 h1-footer-2"
            "second-ul second-ul"
            "h1-footer-3 h1-footer-3"
            "icon-twitter icon-linkedin";
        text-align: center;
        margin: 0 auto;
    }
    
    .container-footer h1{
        color: #54939b;
        font-size: 5vw;
    }
   
    .container-phrase {
        grid-template-columns: 1fr ;
        grid-template-rows: 0.5fr 1fr;
        grid-template-areas:
            "btn-start-footer"
            "sixth-span";
    }

    .container_header p {
        font-size: 7.9vw;
    }

    .container_index {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.31fr 1fr 0.2fr;
        grid-template-areas:
            "first-span-paragraph"
            "form"
            "btn-start";
    }

    .container-video{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1.5fr 1fr .03fr;
        grid-template-areas:
            "video-eccard"
            "second-span-paragraph"
            "stars";
    }
    .first-ul{
        grid-area: first-ul;
    }

    .first-span-paragraph{
        text-align: center;
        font-size: 200%;
    }

    .fifth-span-paragraph{
        margin: 0 auto;
        width: 90%;
        text-align: center;
        font-size: 5vw;
    }

    form{
        margin: 0 auto;
    }

    .fourth-span-paragraph{
        text-align: center;
        margin: 0 auto;
        width: 90%;
        font-size: 5vw;
    }

    .h1-form{
        font-size: 2.5em;
    }

    .h1-description-1{
        text-align: center;    
        font-size: 8.5vw;
    }

    .h1-description-2{
        text-align: center; 
        font-size: 8.5vw;
   
    }

    .head-features{
        margin: 0 auto;
        font-size: 8.2vw;
    }

    .header{
        position: unset;
    }

    .icon-card{
        width: 55%;
    }

    .icon-footer{ 
        width: 20%;
        padding-top: 5%;
        margin: 0 auto;
    }
    
    .icon-linkedin{
        padding-top: 1%;
        width: 20%;
    }

    .icon-pdf{
        width: 55%;
    }
    

    .icon-qr{
        width: 55%;
    }

    .icon-twitter{
        width: 23%;
        margin-left: 76%;
    }

    .icon-video{
        width: 55%;
    }

    .icon-world{
        padding-top: 0;
        width: 52%;
    }

    .second-ul{
        grid-area: second-ul;
    }
    
    .second-span-paragraph{
        font-size: 5vw;
        text-align: center;
    }

    .stars{
        margin: 0 auto;
    }
    
    .sixth-span{
        font-size: 6vw;
        text-align: center;
        margin-top: 4%;
    }

    .text-card{
        font-size: 4vw;
    }

    .text-pdf{
        font-size: 4vw;
    }

    .text-video{
        font-size: 4vw;
        padding-top: 4%;
    }

    .text-world{
        font-size: 4vw;
    }

    .text-qr{
        font-size: 4vw;
    }

    .third-span-paragraph{
        margin: 0 auto;
        width: 90%;
        text-align: center;
        font-size: 5vw;
    }

    .video-eccard{
        padding-right: 0%;
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow:hidden;
    }

    iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}


@media screen and (max-width: 450px){
    .background{
        padding-top: 5rem;
    }

    .container-description {
        grid-template-rows: 0.3fr 0.5fr 1.5fr 0.3fr 1.4fr;
    }

    .container_index {
        grid-template-rows: 0.53fr 1fr 0.2fr;
    }

    .container-phrase {
        grid-template-rows: 0.3fr 1fr;
    }

    form p{
        font-size: 10px;
    }

    .h1-form{
        text-align: center;
    }
}

@media screen and (max-width: 370px){

    .container_index {
        grid-template-rows: 0.64fr 1fr 0.2fr;
    }

    .container-phrase {
        grid-template-rows: 0.2fr 1fr;
    }
}

@media screen and (min-width: 1920px){

    .index_a_to_singIn{ 
        font-size: 75px;
    }
}



@font-face{
	font-family: main_font_thin;
	src: url("../../fonts/Montserrat/Montserrat-Thin.ttf");
}

@font-face{
	font-family: main_font_medium;
	src: url("../../fonts/Montserrat/Montserrat-Medium.ttf");
}

@font-face{
	font-family: main_font_titles;
	src: url("../../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face{
	font-family: alternative;
	src: url("../../fonts/Great_Vibes/GreatVibes-Regular.ttf");
}
